In [71]:
#Import lIBRARIES
import pandas as pd
import numpy as np

In [79]:
##Load Basics set and assign to DF

basics_url="https://datasets.imdbws.com/title.basics.tsv.gz"

basics = pd.read_csv(basics_url, sep='\t', low_memory=False)

In [80]:
#Basics preprocessing

#Replace "\N" with np.nan
basics.replace({'\\N':np.nan}, inplace=True) 
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,NaN,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,NaN,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,NaN,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,NaN,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,NaN,1,"Comedy,Short"

In [81]:
#Eliminate movies that are null for runtimeMinutes
basics[{'runtimeMinutes','genres'}].dropna(inplace=True)
basics.head()

C:\Users\staichn\AppData\Local\Temp\ipykernel_41756\3849636033.py:2: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  basics[{'runtimeMinutes','genres'}].dropna(inplace=True)
C:\Users\staichn\AppData\Local\Temp\ipykernel_41756\3849636033.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  basics[{'runtimeMinutes','genres'}].dropna(inplace=True)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,NaN,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,NaN,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,NaN,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,NaN,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,NaN,1,"Comedy,Short"

In [85]:
#keep only titleType==Movie
#basics = basics['titleType'] == 'Movie'
df = basics

df = basics['titleType'] == 'Movie'
df.head()

0    False
1    False
2    False
3    False
4    False
Name: titleType, dtype: bool

In [82]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8961736 entries, 0 to 8961735
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 615.4+ MB

In [53]:
#keep startYear 2000-2022
basics['startYear'] = basics[(basics['startYear'] >= 2000) & (basics['startYear']<=2022)]

ValueError: Columns must be same length as key

In [58]:
#Eliminate movies that include  "Documentary" in genre (see tip below)
is_documentary = basics['genres'].str.contains('documentary',case=False)
basics = basics[~is_documentary]

TypeError: bad operand type for unary ~: 'float'

In [59]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8961736 entries, 0 to 8961735
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       bool
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       float64
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: bool(1), float64(1), object(7)
memory usage: 555.5+ MB

In [34]:
##Load AKAs data set and assign to DF
akas_url="https://datasets.imdbws.com/title.akas.tsv.gz"

akas = pd.read_csv(akas_url, sep='\t', low_memory=False)

0                   Documentary,Short
1                     Animation,Short
2            Animation,Comedy,Romance
3                     Animation,Short
4                        Comedy,Short
                      ...
8961731           Action,Drama,Family
8961732           Action,Drama,Family
8961733           Action,Drama,Family
8961734                         Short
8961735    Adventure,Animation,Comedy
Name: genres, Length: 8552816, dtype: object

In [56]:
#AKA Preprocessing
akas.replace({'\\N':np.nan}, inplace=True)

In [60]:
#AKA - keep only US entries.
akas = akas['region']=='US'

In [61]:
akas.head()

0    False
1    False
2    False
3    False
4    False
Name: region, dtype: bool

In [ ]:
##Load Ratings data set and assign to DF
ratings_url="https://datasets.imdbws.com/title.ratings.tsv.gz"

ratings = pd.read_csv(ratings_url, sep='\t', low_memory=False)

In [14]:
#RATINGS Preprocessing
ratings.replace({'\\N':np.nan})

            tconst  averageRating  numVotes
0        tt0000001            5.7      1883
1        tt0000002            5.9       250
2        tt0000003            6.5      1667
3        tt0000004            5.8       163
4        tt0000005            6.2      2490
...            ...            ...       ...
1249571  tt9916690            6.5         6
1249572  tt9916720            5.3       219
1249573  tt9916730            8.4         6
1249574  tt9916766            6.8        20
1249575  tt9916778            7.2        35

[1249576 rows x 3 columns]